---
layout: default
---

<h3>reviews</h3>
These are reviews of selected content that I've consumed, including music, books, movies, etc. Mostly used as an archive for personal thoughts to force myself to engage more deeply with media. No scores provided since I found them a distraction, but I'll star anything I highly recommend.
<ul>
  {% for post in site.categories.review %}
  <li class="post-list" style="padding-left: 25px;">
      <div class="floatleft">
        <a href="{{ post.url }}">
          {{ post.title }} 
          {% if post.cont-author %} 
          - {{ post.cont-author }} ({{ post.cont-year }})
          {% endif %}
        </a>
      </div>
      <!--{% if post.rating %}
      <div class="floatright">
        <b>{{ post.rating }}</b>
      </div>
      {% endif %}-->

      {% if post.categories contains 'book' %}
      <div class="icon book"></div>
      {% elsif post.categories contains 'movie' %}
      <div class="icon movie"></div>
      {% elsif post.categories contains 'music' %}
      <div class="icon music"></div>
      {% endif %}
    </li>
  {% endfor %}
</ul>

