body {
  width: 800px;
  margin: auto;
  margin-top: 25px;
  font-family: 'Helvetica';
  color: #363636;
  line-height: 1.3em;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.paper {
  flex: 70%;
  margin: 10px;
}

.fig {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.fig img {
  min-width: 100%;
  object-fit: cover;
}
