<br>
<div class="footer">
  <script>var s="=b!isfg>#nbjmup;obuiboohAnju/fev#?fnbjm=0b?";var m="";for(var i=0;i<s.length;i++)m+=String.fromCharCode(s.charCodeAt(i)-1);document.write(m);</script><noscript>You must enable JavaScript to see this text.</noscript>&emsp;/&emsp;
  <a href="https://github.com/nng555">github</a>&emsp;/&emsp;
  <a href="http://linkedin.com/in/nathng">linkedin</a>&emsp;/&emsp;
  <a href="https://scholar.google.com/citations?user=psuwztYAAAAJ&hl=en">google scholar</a>
</div>
