<h1>
  hi, i'm <a href="/index.html">nathan ng</a>
</h1>
<a href="/research.html">research</a>&emsp;/&emsp;
<a href="/blog.html">blog</a>&emsp;/&emsp;
<a href="/reviews.html">reviews</a>&emsp;/&emsp;
<a href="/assets/files/cv.pdf">CV</a><br>

<!--music: <a href="https://open.spotify.com/track/7EFvfycN43HuWdJiZ76xIX?si=2309c315eba64a53">Caido</a>&emsp;<a href="https://soundcloud.com/ngstrumentals/balboa?si=a510ebdcc0ae41bfb82c47785e7e30ba&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing">enso</a>-->
