<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5JCW2FMG7W"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5JCW2FMG7W');
  </script>
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="/assets/img/favicon.ico"/>
  <link rel="stylesheet", href="/assets/css/styles.css" />
  <link rel="stylesheet", href="/assets/css/normalize.css" />
  <meta content="width=90vw, initial-scale=1" name="viewport"/>
  <meta name="keywords" content="nathan ng, nathan hoyen ng, marzyeh ghassemi, machine learning, ai, phd, research, uoft, mit"/>
  <meta name="author" content="Nathan Hoyen Ng"/>
</head>
