<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5JCW2FMG7W"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5JCW2FMG7W');
  </script>

  <!-- mathjax -->
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    },
  });
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML" type="text/javascript"></script>

  <link rel="stylesheet", href="/assets/css/styles.css" />
  <link rel="stylesheet", href="/assets/css/normalize.css" />
  <link rel="stylesheet" href="/assets/css/latinmodern-roman.css" type="text/css" charset="utf-8" />

  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="/assets/img/favicon.ico"/>

  <meta content="width=90vw, initial-scale=1" name="viewport"/>
  <meta name="keywords" content="nathan ng, nathan hoyen ng, marzyeh ghassemi, machine learning, ai, phd, research, uoft, mit"/>
  <meta name="author" content="Nathan Hoyen Ng"/>
</head>
