---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
<h2>{{ page.title }}</h2>
  {%- if page.image -%}
  <p><img src={{ page.image }} alt={{ page.image-alt }} width={{ page.width }}% /></p>
  {%- endif -%}

  {%- if page.rating -%}
  <h3 class="rating">{{ page.rating }} / 10</h3><br><br>
  {%- endif -%}

  {%- unless page.nodate -%}
  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {{ page.date | date: date_format }}
  </time>
  {%- endunless -%}

  {%- if page.authors -%}
   &emsp;&emsp;/&emsp; <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.authors }}</span></span>
  {%- endif -%}</p>

  <div class="post-content e-content" itemprop="articleBody">
    {% if page.tex %}
    <div class="tex">
    {% endif %}
      {{ content }}
    {% if page.tex %}
    </div>
    {% endif %}
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
